<article class="card post-card">
  <a class="post-card-stretched-link" href="{{ .RelPermalink }}" tabindex="-1" aria-hidden="true"></a>
  <h3 class="post-title">
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </h3>
  <div class="post-meta">
    {{ partial "datetime.html" . }}
  </div>
  {{- $excerpt := "" -}}
  {{- with .Summary -}}
    {{- $excerpt = . | plainify | truncate 150 -}}
  {{- else -}}
    {{- with .Content -}}
      {{- $paragraphs := findRE `<p>(.|\n)*?</p>` . -}}
      {{- with index $paragraphs 0 -}}
        {{- $excerpt = . | plainify | truncate 150 -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- with $excerpt -}}
    <div class="post-summary">{{ . }}</div>
  {{- end -}}
  {{ with .GetTerms "tags" }}
    <div class="tags">
      {{ range . }}
        <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ end }}
    </div>
  {{ end }}
</article>
